<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">About Us</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="aboutus">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              Sejarah
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" id="sejarah">
            <div class="timeline">
              <div class="container left">
                <div class="content">
                  <h2><b>2007 – 2009</b></h2>
                  <h3>Pendalami isu-isu terorisme dan deradikalisasi</h3>
                  <p>Sebelum didirikan pada 2 Mei 2017, anggota Tim peneliti kami pernah diikutkan dalam riset pengkajian motif aksi terror yang dilakukan oleh kelompok yang mengatasnamakan Islam sejak 2007 lalu. Ini tak lepas dari arahan (alm) Profesor Sarlito W. Sarwono sebagai penggagas psikologi terorisme di Indonesia yang juga guru kami.</p>
                </div>
              </div>

              <div class="container right">
                <div class="content">
                  <h2><b>2009</b></h2>
                  <h3>Pengalaman bekerja sama dengan Pusat Studi Alquran (PSQ)</h3>
                  <p>Tahun 2009 tim peneliti kami pernah diikutkan dalam kerjasama dengan Pusat Studi Alquran (PSQ) yang waktu itu dipimpin Profesor Quraish Shihab. Saat itu dilakukanlah program pilot deradikalisasi kepadanara- pidana terorisme dan eks-kombatan yang pernah berperang di sejumlah daerah di dalam dan luar Indonesia.</p>
                </div>
              </div>

              <div class="container left">
                <div class="content">
                  <h2><b>2011-2015</b></h2>
                  <h3>Pengalaman dengan eks-narapidana terorisme dan kombatan</h3>
                  <p>Setelah melewati perjalanan bersama narapidana terorisme, tim kami juga terlibat dalam intervensi kepada para mantan narapidana terorisme dengan memfasilitasi mereka berdakwah sesuai kemampuan dan minat, tentunya melalui cara yang damai.</p>
                </div>
              </div>

              <div class="container right">
                <div class="content">
                  <h2><b>2015-2017</b></h2>
                  <h3>Re-edukasi terhadap narapidana terorisme dan para istri</h3>
                  <p>Pada 2015, tim peneliti kami pernah bersentuhan dengan narapidana berikut para keluarganya (istri dan anak). Dengan pendekatan psikologis dan pelatihan kewirausahaan, sejumlah lokakarya dilakukan di dalam lapas di Pulau Jawa dan Sulawesi. Para istri juga diajak untuk menjadi agen yang mengkampanyekan Islam yang damai.</p>
                </div>
              </div>

              <div class="container left">
                <div class="content">
                  <h2><b>2017-SEKARANG</b></h2>
                  <h3>DASPR: Program evaluasi kegiatan deradikalisasi dan re-edukasi di dalam dan luar lapas</h3>
                  <p>Sejak satu tahun pertama berdiri, DASPR telah menjalankan kegiatan re-edukasi di dalam dan luar lapas terhadap narapidana terorisme dan keluarganya. Selain itu, kami juga bekerja sama dengan Ditjen Lapas, PPIM UIN, dan UNDP guna mengasesmen sejumlah kegiatan deradikalisasi di dalam lembaga pemasyarakatan.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Section Contact-Footer Star /-->
      <%- include('footer'); -%>
      <!--/ Section Contact-footer End /-->
    </body>
  </html>