<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Tentang Kami</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Tentang Kami</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="aboutus">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              Sejarah
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" id="sejarah">
            <div class="timeline">
              <div class="container left">
                <div class="content">
                  <h2><b>2007 – 2009</b></h2>
                  <h3>Pendalami isu-isu terorisme dan deradikalisasi</h3>
                  <p>Sebelum didirikan pada 2 Mei 2017, anggota Tim peneliti kami pernah diikutkan dalam riset pengkajian motif aksi terror yang dilakukan oleh kelompok yang mengatasnamakan Islam sejak 2007 lalu. Ini tak lepas dari arahan (alm) Profesor Sarlito W. Sarwono sebagai penggagas psikologi terorisme di Indonesia yang juga guru kami.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2009</b></h2>
                  <h3>Pengalaman bekerja sama dengan Pusat Studi Alquran (PSQ)</h3>
                  <p>Tahun 2009 tim peneliti kami pernah diikutkan dalam kerjasama dengan Pusat Studi Alquran (PSQ) yang waktu itu dipimpin Profesor Quraish Shihab. Saat itu dilakukanlah program pilot deradikalisasi kepadanara- pidana terorisme dan eks-kombatan yang pernah berperang di sejumlah daerah di dalam dan luar Indonesia.</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2011-2015</b></h2>
                  <h3>Pengalaman dengan eks-narapidana terorisme dan kombatan</h3>
                  <p>Setelah melewati perjalanan bersama narapidana terorisme, tim kami juga terlibat dalam intervensi kepada para mantan narapidana terorisme dengan memfasilitasi mereka berdakwah sesuai kemampuan dan minat, tentunya melalui cara yang damai.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2015-2017</b></h2>
                  <h3>Re-edukasi terhadap narapidana terorisme dan para istri</h3>
                  <p>Pada 2015, tim peneliti kami pernah bersentuhan dengan narapidana berikut para keluarganya (istri dan anak). Dengan pendekatan psikologis dan pelatihan kewirausahaan, sejumlah lokakarya dilakukan di dalam lapas di Pulau Jawa dan Sulawesi. Para istri juga diajak untuk menjadi agen yang mengkampanyekan Islam yang damai.</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2017</b></h2>
                  <h3>DASPR: Program evaluasi kegiatan deradikalisasi dan re-edukasi di dalam dan luar lapas</h3>
                  <p>Sejak satu tahun pertama berdiri, DASPR telah menjalankan kegiatan re-edukasi di dalam dan luar lapas terhadap narapidana terorisme dan keluarganya. Selain itu, kami juga bekerja sama dengan Ditjen Lapas, PPIM UIN, dan UNDP guna mengasesmen sejumlah kegiatan deradikalisasi di dalam lembaga pemasyarakatan.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2018</b></h2>
                  <h3>DASPR bergabung dengan IM Center</h3>
                  <p>Tepat pada tanggal 08 November 2018, DASPR resmi berada dibawah naungan dengan Yayasan IM Center Untuk Dialog dan Perdamaian</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="about-visimisi">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-sm-12 about-visi">
            <h2><b>Visi</b></h2>
            <ul>
              <li>Menjadi grup para ilmuan sosial yang peduli dengan isu-isu kemanusiaan </li>
              <li>Menjadi sumber data pada pemetaan isu-isu sosial, seperti konflik sosial dan hubungan antar-kelompok  </li>
              <li>Menjadi acuan dalam kegiatan-kegiatan yang menggunakan pendekatan non-violence atau pendekatan humanistik </li>
            </ul>
          </div>
          <div class="col-lg-5 col-sm-12 about-misi">
            <h2><b>Misi</b></h2>
            <ul>
              <li>Mendidik dan membangun aktivitas riset yang sensitif pada isu-isu sosial dan kemanusiaan </li>
              <li>Menciptakan aktivitas riset dan pengembangan keilmuan yang peduli dengan pengembangan dan pemberdayaan masyarakat </li>
              <li>Terlibat di dalam organisasi kemasyarakatan yang aktif mendiskusikan berbagai cara untuk mengurangi kekerasan antar-kelompok </li>
            </ul>
          </div>
        </div>
        <div id="about-fungsitujuan">
          <div class="row about-tujuan">
            <div class="col-md-8 about-fungsitujuan-pane">
              <h2><b>Tujuan</b></h2>
              <ul>
                <li>Memahami alasan mendasar dibalik munculnya masalah-masalah sosial yang ada </li>
                <li>Memperoleh penyelesaian masalah dengan cara damai </li>
                <li>Mampu memberikan rekomendasi acuan dalam menentukan kebijakan dan strategi yang tidak memicu konflik</li>
              </ul>
            </div>
          </div>
          <div class="row about-fungsi justify-content-end">
            <div class="col-md-9 about-fungsitujuan-pane fungsi-pane">
              <h2><b>Fungsi</b></h2>
              <ul>
                <li>Menjadi wadah kegiatan penelitian yang memiliki keseriusan dalam memahami masalah-masalah sosial</li>
                <li>Menjadi wadah kegiatan yang aktif terlibat dalam menyelesaikan masalah kekerasan dan konflik di Indonesia, dan wilayah sekitar </li>
                <li>Menjadi tempat bagi mahasiswa yang ingin terlibat langsung melakukan penelitian yang berkenaan dengan kekerasan, perdamaian, dan resolusi konflik </li>
                <li>Memfasilitasi ruang kerja/visiting fellow (mahasiswa, peneliti, post-doct) dan dosen tamu yang ingin terlibat penelitian terkait isu-isu sosial dan kemasyarakatan </li>
              </ul>
            </div>
          </div>
          <div class="row about-penelitian">
              <div class="col-md-8 about-fungsitujuan-pane">
                <h2 class="center"><b>Penelitian</b></h2>
                <h4>DASPR UI melakukan penelitian yang berfokus pada tema –tema di bawah ini:</h4>
                <ol>
                  <li>Radikalisme dan kontra ekstremisme kekerasan</li>
                  <li>Peran wanita dalam kontra ekstrimisme kekerasan</li>
                  <li>Proyek rehumanisasi</li>
                  <li>Stigma sosial</li>
                  <li>Wacana politik, media berita dan identitas</li>
                  <li>Prasangka dan meta prasangka</li>
                </ol>
              </div>
            </div>
        </div>
        
        
        <div id="about-program">
          <div class="row">
            <div class="col-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                Program
                </h3>
                <p class="subtitle-a">
                  Division for Applied Social Psychology Research
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>PROGRAM PEMBERDAYAAN DI DALAM DAN DI LUAR LAPAS</b></h3>
            <p>
              Merupakan program yang menyasar para narapidana kasus terorisme dan keluarganya. Program pemberdayaan ini mencakup sejumlah hal seperti, yaitu re-edukasi, konseling psikologis baik individu maupun kelompok, dan pembekalan keahlian wirausaha. Para peserta bersifat undangan sukarela dan kegiatan disajikan dalam bentuk dialog informal Selain itu, kami juga mencoba untuk meningkatkan empati para peserta sehingga mereka semakin siap dalam berinteraksi dengan siapa pun yang berasal dari latar yang berbeda. Di samping itu, pelatihan kewirausahaan bermanfaat untuk bekal guna mendukung finansial mereka, terutama di saat bebas nanti. Adapun program luar lapas berfokus pada kunjungan kepada keluarga narapidana kasus terorisme. Kunjungan dilakukan dengan bersilaturahmi ke rumah-rumah para istri guna memberikan konseling psikologis terhadap mereka.
            </p>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>FOSTERING THE EFFECTIVENESS OF DERADICALIZATION PROGRAMS IN THE PRISON (PROGRAM ASESMEN DALAM LAPAS)</b></h3>
            <p>Sebuah program yang bertujuan untuk mengases atau menimbang kegiatan-kegiatan yang berkaitan dengan CVE (Counter Violent Extremism) yang pernah dilakukan oleh lembaga pemerintah maupun swasta di dalam lapas.</p>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>GIRL AMBASSADOR FOR PEACE (2017-2018, KOLABORASI DENGAN AMAN DAN GNWP)</b></h3>
            <p>Program Girls Ambassador for Peace (GA4P) merupakan sebuah program hasil kerjasama antara Global Network Women for Peace (GNWP), AMAN Indonesia dan juga DASPR Daya Makara UI. Program tersebut dilakukan di dua kota di Indonesia yaitu Lamongan dan Poso. Tujuan program ini adalah membetuk duta perdamaian di dua kota tersebut yang beranggotakan para perempuan muda yang mau berkontribusi untuk menyebarkan perdamaian di kotanya masing-masing.</p>
          </div>
        </div>
      </div>
    </section>
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
    $("#header-home").removeClass("active");
    $("#header-tentangkami").addClass("active");
    </script>
  </body>
</html>