<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
    <!-- Include Quill stylesheet -->
    <link href="/css/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">News And Events</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">News And Events</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <div id="add-events" class="container">
      <form id="news-events-form" action="/add-events-request" method="post" enctype="multipart/form-data">
        <div class="inputs-group">
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              Type
            </div>
            <div class="col-lg-10 col-sm-12">
              : <select onchange="changeType(this.value)" name="eType">
                <option value="news">News</option>
                <option value="events">Events</option>
                <option value="questionaire">Questionaire</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              Image
            </div>
            <div class="col-lg-10 col-sm-12">
              : <input type="file" placeholder="Image" name="eImage" accept="image/png, image/jpeg" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              Title
            </div>
            <div class="col-lg-10 col-sm-12">
              : <input type="text" placeholder="Title" name="eTitle" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              Author
            </div>
            <div class="col-lg-10 col-sm-12">
              : <input type="text" placeholder="Author" name="eAuthor" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12" id="ne-textarea">
              <!-- Create the toolbar container -->
              <div id="toolbar">
              </div>
              <!-- Create the editor container -->
              <div id="editor">
                <p>Hello World!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3>English Version</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-sm-12">
              Title
            </div>
            <div class="col-lg-10 col-sm-12">
              : <input type="text" placeholder="Title" name="eneTitle" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12" id="ne-entextarea">
              <!-- Create the toolbar container -->
              <div id="toolbar">
              </div>
              <!-- Create the editor container -->
              <div id="editor">
                <p>Hello World!</p>
              </div>
            </div>
          </div>
          <div class="row"  id="ne-questionaire">
            <div class="col-lg-2 col-sm-12">
              Questionaire Links
            </div>
            <div class="col-lg-10 col-sm-12" id="ne-questionaire-inputs">
              : <input type="text" placeholder="Link 1" name="eQues1">
              <br>
              : <input type="text" placeholder="Link 2" name="eQues2">
              <br>
              : <input type="text" placeholder="Link 3" name="eQues3">
            </div>
          </div>
        </div>
        <%= typeof ermes != 'undefined' ? ermes : '' %>
        <input type="submit" class="btn btn-prime" value="Submit" id="ne-input-submit">
        <input type="hidden" id="input-editor" value="" name="eContent">
        <input type="hidden" id="eninput-editor" value="" name="eneContent">
      </form>
    </div>
    
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!-- Initialize Quill editor -->
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="/js/add-event.js"></script>
    <!--/ Section Contact-footer End /-->
  </body>
</html>