<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/headline.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Karir</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Karir</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <div class="container">
      
      <div class="row">
        <div class="col-6">
          <img width="100%" src="/img/career/2.png" alt="">
        </div>
        <div class="col-6">
          <img width="100%" src="/img/career/3.png" alt="">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <img width="100%" src="/img/career/4.png" alt="">
        </div>
        <div class="col-6">
          <img width="100%" src="/img/career/5.png" alt="">
        </div>
      </div>

    </div>
    <br>
    <br>
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
      $("#header-home").removeClass("active");
      $("#header-career").addClass("active");
    </script>
  </body>
</html>