<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(img/headline.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Kolaborasi & Mitra</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Kolaborasi & Mitra</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="collabp">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              Kolaborasi Kami
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Jihadis, Terorisme dan Kontra Kekerasan Ekstremisme</b></h3>
              <p><img src="/img/collab/collab1.jpg" alt="" style="width: 380px;float: left;margin-right: 13px;">Apa alasan munculnya aktivitas terror agama di Indonesia? Mengapa orang beragama mampu membunuh orang yang tidak bersalah? Bagaimana kita dapat mengatasi aktivitas terror di Indonesia dan bagaimana kita dapat mengenali individu yang rentan serta masyarakat yang rentan? Dipicu oleh pertanyaan-pertanyaan seperti itu, kami telah berkolaborasi dengan beberapa sarjana sosial berikut ini. Bersama Zora Sukabdi (Universitas Swinburne) kami menyelidiki alasan dibalik kegiatan teror yang dilakukan oleh Islam radikal dan menemukan bahwa salah satu penyebabnya adalah karena Indonesia diartikan sedang dalam keadaan perang. Bersama Mirra Noor Milla (Universitas Indonesia) dan Ahmad Naufalul Umam (Universitas Mercu Buana), kami ingin mengeksplorasi bagaimana narasi, cerita, dan kenangan ditanamkan di benak para jihadis. Dan bersama tim dari Civil Society against Violent Extremism (<a href="http://csave.org/id/home/">C-Save</a>) dan Ichsan Malik Center, kami bekerja untuk mengembangkan pedoman untuk tanda-tanda peringatan dini radikalisme. Pada proyek lainnya, kami juga bekerja dengan <a href="https://researchers.uq.edu.au/researcher/1532">Adrian Cherney</a> (Universitas Queensland). Kami bermaksud untuk membandingkan antara kasus individu Indonesia dan Australia yang telah deradikalisasi menjadi ekstremisme. Selain itu, karena kami juga peduli dengan keluarga Jihadis dan isu-isu perempuan dan kontra-ekstremisme kekerasan, kami telah memulai proyek-proyek yang terkait dengan masalah tersebut. Dengan tim dari Global Network of Women Peacebuilders (<a href="https://gnwp.org/">GNWP</a>) dan Asian Muslim Action Network (<a href="https://www.amanindonesia.org/">AMAN</a>), kami bekerja untuk memberdayakan perempuan muda dari tempat-tempat yang terkena dampak konflik (yaitu Poso) atau tempat rentan (Lamongan) untuk menjadi pemimpin dan agen perdamaian. Tim peneliti tersebut antara lain Mavic Cabrera –Balleza (<a href="https://gnwp.org/">GNWP</a>), Dwi Rubiyanti Kholifah (<a href="https://www.amanindonesia.org/">AMAN</a>), Fajar Erikha (DASPR), Vici S. Putera (DASPR), Any Rufaedah (DASPR), dan Reisa S. Arimbi (DASPR).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://www.igi-global.com/chapter/tackling-islamic-terrorism-and-radicalism-in-indonesia-by-increasing-the-sense-of-humanity-and-friendship/191700">Tackling Islamic Terrorism And Radicalism In Indonesia By Increasing The Sense of Humanity and Friendship</a></li>
                <li><a href="https://www.igi-global.com/chapter/isis-discourse-in-radical-islamic-online-news-media-in-indonesia/150569">Isis Discourse In Radical Islamic Online News Media In Indonesia</a></li>
                <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/ajsp.12001">Basic concepts and reasons behind the emergence of religious terror activities in Indonesia: An inside view</a></li>
                <li><a href="http://psyjournals.ru/files/93739/sps_2018_n2_Putra_et_al.pdf">Increasing integrative complexity on convicted terrorists in Indonesia</a></li>
                <li><a href="https://nsuworks.nova.edu/tqr/vol23/iss6/5/">Coping with Stigma and Social Exclusion of Terror-Convicts’ Wives in Indonesia: An Interpretative Phenomenological Analysis</a></li>
                <li><a href="https://www.academia.edu/37977421/Stories_from_Jihadists_Significance_identity_and_radicalization_through_the_call_for_jihad">Stories from Jihadists: Significance, identity, and radicalization through the call for jihad</a></li>
                <li><a href="http://dx.doi.org/10.3389/fpsyg.2020.01059">Do Counter-Narratives Reduce Support For ISIS? Yes, But Not For Their Target Audience</a></li>
                <li><a href="https://www.youtube.com/watch?v=TW27HQsmF_Y&amp;feature=youtu.be">My Family, My Jihad: Stories Of Four Wives Of Jihadists. Documentary Video</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Fundamentalisme Agama dan Perilaku Ekstrim</b></h3>
              <p><img src="/img/collab/collab2.jpg" alt="" style="width: 200px;float: right;margin-left: 13px;">Anggota kami telah menangani banyak isu yang berkaitan dengan hubungan antara fundamentalisme agama dan perilaku ekstrim, serta cara mengatasi kerentanannya. Bersama dengan Zora Sukabdi (Swinburne University of Technology), kami bekerja untuk menemukan cara bagi para fundamentalis agama (Islam) untuk mendukung perdamaian. Kami juga bekerja sama dengan <a href="https://psikologi.ui.ac.id/whinda-yustisia-s-psi-m-sc/">Whinda Yustisia</a> (Universitas Indonesia), <a href="http://www.harveywhitehouse.com">Harvey Whitehouse</a> dan <a href="https://www.anthro.ox.ac.uk/people/dr-chris-kavanagh">Chris Kavanagh</a> (Oxford University) untuk menguji peran narsisme kolektif dan ketaatan kelonggaran (tightness-looseness) dalam mempengaruhi hubungan antara fundamentalisme agama dan perilaku ekstrim. Tim peneliti tersebut terdiri dari Any Rufaedah dan <a href="http://dasprui.com/en/timkami.html">Vici S. Putera</a> (DASPR).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="http://psycnet.apa.org/record/2014-38828-001 ">Can Islamic fundamentalism relate to nonviolent support? The role of certain conditions in moderating the effect of Islamic fundamentalism on supporting acts of terrorism.</a></li>
                <li><a href="https://www.sciencedirect.com/science/article/pii/S2452315117302266">Is there peace within Islamic fundamentalists? When Islamic fundamentalism moderates the effect of meta-belief of friendship on positive perceptions and trust toward outgroup</a></li>
                <li><a href="http://dx.doi.org/10.3389/fpsyg.2020.01172">Exploring The Pathways Between Transformative Group Experiences And Identity Fusion</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Gerakan Keagamaan, Hubungan Antar-Agama dan Persekusi</b></h3>
              <p><img src="/img/collab/collab3.jpg" alt="" style="width: 380px;float: left;margin-right: 13px;">Kami telah terlibat dalam beberapa proyek yang menyelidiki gerakan keagamaan dan hubungan antar-agama di Indonesia. Selama Pemilu 2012 di Jakarta, kami menyelidiki bagaimana narasi agama digunakan untuk memobilisasi pemilih untuk merendahkan dan membenarkan kekerasan terhadap berbagai kelompok agama dan etnis yang  berbeda. Bekerja sama dengan <a href="https://en.wikipedia.org/wiki/Wolfgang_Wagner_(social_psychologist) ">Wolfgang Wagner</a> (Johannes Kepler University & University of Tartu), kami melakukan wawancara terhadap umat Islam yang terlibat dalam “Aksi Damai” tahun 2012 yang mengakibatkan pertumpahan darah dengan kekerasan. Unjuk rasa diadakan di tengah pemilihan gubernur DKI Jakarta, melawan seorang petahana Non-Muslim yang dituduh menghina Al-Qur’an. Temuan tersebut menunjukkan bahwa pengunjuk rasa cenderung tidak mendukung kekerasan ketika para pemimpin politik mempromosikan narasi damai. Sedangkan tuduhan penistaan meningkatkan dukungan pengunjuk rasa untuk kekerasan politik. Hal ini menunjukkan bahwa kepemimpinan politik memainkan peran penting dalam membentuk norma-norma sosial dan menjaga hubungan antar kelompok yang harmonis. Tim peneliti yang ikut serta dalam penelitian ini antara lain Any Rufaedah (DASPR), Reisa S. Arimbi (DASPR), M. Faisal Magrie (DASPR & US-AID Indonesia). Dalam proyek lainnya kami bekerja bersama <a href="https://www.iwm-tuebingen.de/www/en/personen/ma.html?uid=pholtz ">Peter Holtz</a> (Leibniz-Institut für Wissensmedien) dan <a href="http://psikologi.ub.ac.id/profile/sumber-daya-manusia/tenaga-pendidik/ali-mashuri/">Ali Mashuri</a> (Universitas Brawijaya) untuk menyelidiki bagaimana sebuah kelompok agama yang dituduh sesat akhirnya menerima ancaman dan sejumlah reaksi kekerasan dimana para korban dianggap sebagai yang menyebabkan terjadinya kekerasan.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="http://psycnet.apa.org/record/2018-21394-001">Who is to blame, the victims or the perpetrators? A study to understand a series of violence targeting the accused heretic group Ahmadiyya.</a></li>
                <li><a href="https://nsuworks.nova.edu/cgi/viewcontent.cgi?article=2518&context=tqr/ ">Representations and Discourse about Religion and Chinese Descendants in 2012 Jakarta’s Election</a></li>
                <li><a href="https://journals.sagepub.com/doi/abs/10.1177/0971333614564741">Demonising the Victim: Seeking the Answer for How a Group as the Violent Victim is Blamed</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Prasangka dan Meta-Prasangka</b></h3>
              <p><img src="/img/collab/collab4.jpg" alt="" style="width: 195px;float: right;margin-left: 13px;">Meta-Prasangka yang diperkenalkan oleh Idhamsyah Eka Putra menjelaskan bagaimana berpikir atau meyakini orang lain (secara negatif) berpikir (keluar/masuk) anggota kelompok lain. Mekanisme berpikir ini telah terbukti memainkan peran kunci dalam mempengaruhi persepsi dan perilaku yang mengindikasikan: 1) seseorang cenderung menghindari anggota kelompok lain ketika mereka berpikir anggota kelompok luar tidak menyukai mereka, atau 2) ketika mereka berpikir sesame anggota kelompok tidak menyukai anggota kelompok luar. Tim peneliti termasuk <a href="https://en.wikipedia.org/wiki/Wolfgang_Wagner_(social_psychologist)">Wolfgang Wagner</a> (Johannes Kepler University & University of Tartu).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://www.cambridge.org/core/journals/spanish-journal-of-psychology/article/taking-seriously-ingroup-selfevaluation-metaprejudice-and-prejudice-in-analyzing-interreligious-relations/F87FCB00104B9E92174EBCC8FFB6F690">Taking Seriously Ingroup Self-Evaluation, Meta-Prejudice, and Prejudice in Analyzing Interreligious Relations</a></li>
                <li><a href="http://psycnet.apa.org/doiLanding?doi=10.1037%2Fpac0000068">The role of ingroup and outgroup metaprejudice in predicting prejudice and identity undermining.</a></li>
                <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/casp.2305">Prejudice in interreligious context: The role of metaprejudice and majority–minority status</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>(Re-) Humanisasi</b></h3>

              <p><img src="/img/collab/collab5.jpg" alt="" style="width: 221px;float: left;margin-right: 13px;">Kami memulai sebuah proyek bernama (re-) humanisasi dimana hal itu dipengaruhi dari gagasan tentang bagaimana mengubah orang menjadi “baik”. Melalui pengalaman kami bertanya kepada orang-orang apakah kodrat manusia itu baik atau jahat, Kebanyakan orang percaya bahwa kodrat manusia itu baik. Namun demikian ada perdebatan filosofis tentang hakikat manusia. Jean-Jacques Rousseau (1712 - 1778) Percaya bahwa manusia pada dasarnya baik meskipun kebaikan ini dapat terkontaminasi melalui kekuatan luar. sebaliknya, Thomas Hobbes (1588-1679) menyatakan bahwa sifat manusia itu jahat: keinginan alami manusia adalah untuk mendapatkan lebih banyak kekuatan. Meskipun demikian, meski terus-menerus diperdebatkan mengenai hakikat manusia, diharapkan kepada ketika orang diingatkan bahwa sifat manusia itu baik, mereka akan melihat orang lain dengan cara yang lebih positif. bersama Peter Holtz (Leibniz-Institut für Wissensmedien), <a href="http://www.swp.jku.at/en/team/kronberger">Nicole Kronberger</a>  (Johannes Kepler University of Linz), Ardiningtias Pitaloka (Universitas Yarsi) dan Nurul Arbiyah (Universitas Indonesia), kami menguji apakah dengan mengingatkan peserta bahwa kodrat manusia adalah baik, bisa mengurangi efek negatif dari stigmatisasi. Bekerja sama dengan <a href="https://www2.clarku.edu/faculty/facultybio.cfm?id=778">Johanna Vollhardt</a> (Clark University), <a href="https://www.framingham.edu/academics/colleges/social-and-behavioral-sciences/psychology-and-philosophy/faculty-and-staff/index">Margareth Obaid</a> (Framingham State University), dan <a href="http://shinokoda.com/profile/ ">Shino Koda</a> (Tottori University) kami menguji hubungan kepercayaan bahwa sifat manusia itu baik dengan nilai-nilai prososial vs. pembenaran atas kekerasan identitas Manusia Bhinneka Tunggal Ika dan prasangka buruk di Indonesia Amerika Serikat dan Jepang.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://jspp.psychopen.eu/article/view/794">Positive Essentialization Reduces Prejudice: Reminding Participants of a Positive Human Nature Alleviates the Stigma of Indonesian Communist Party (PKI) Descent</a></li>
                <li><a href="http://dx.doi.org/10.1037/pac0000469">Beliefs About Human Nature As Good Versus Evil Influence Intergroup Attitudes And Values</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Menanggulangi gerakan anti vaksin</b></h3>
              <p><img src="/img/collab/collab6.jpg" alt="" style="width: 145px;float: right;margin-left: 13px;">Ada fenomena di Indonesia, juga di negara muslim lainnya, di mana umat Islam menolak untuk terlibat dalam program vaksinasi itu menunjukkan bahwa mereka menganggap vaksinasi sebagai konspirasi Yahudi dan Amerika untuk memusnahkan muslim. dalam kasus yang ekstrim, BBC melaporkan bahwa di Pakistan ibu dan anak perempuannya terbunuh karena vaksinasi. mengenai hal ini kami sedang mengembangkan proyek yang bertujuan untuk menemukan cara mengatasi gerakan anti vaksin. Dua studi telah dilakukan salah satu temuan menjelaskan bahwa ketika peserta Prima dengan eksplorasi analisis dengan menunjukkan bukti bahwa Israel dan AS mengelola program vaksin di negara mereka sendiri dapat membuat orang tidak percaya terhadap konspirasi Yahudi; Rendahnya tingkat kepercayaan konspirasi Yahudi membuat partisipan khawatir dengan masa depan generasi muslim. Tim peneliti tersebut terdiri dari Any Rufaedah (DASPR), Reisa S. Arimbi (mantan personil DASPR), dan Tri Sulastri (mantan personil DASPR).</p>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Identitas nasional, identitas agama dan persatuan dalam keberagaman</b></h3>
              <p style="padding-bottom:155px;"><img src="/img/collab/collab7.jpg" alt="" style="width: 154px;float: left;margin-right: 13px;">Salah satu masalah dalam masyarakat multikultural adalah kerentanannya terhadap prasangka dan konflik antar kelompok. Bersama <a href="http://fathalimoghaddam.com/">Fathali Moghaddam</a> (Georgetown University) dan Eko A. Meinarno (Universitas Indonesia),  Kami menguji hubungan antara identitas nasional, identitas religius, dan Bhineka Tunggal Ika dan bagaimana kaitannya dengan bantuan antar kelompok. Tim peneliti tersebut termasuk Joevarian Hudiyana (Universitas Indonesia) dan <a href="https://psychology.georgetown.edu/people/phd-students">Mia Hendricks</a> (Georgetown University).</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Mitra Kami
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        
        <section id="our-partners">
          <div class="row">
            <div data-aos="fade-down" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/ditjenpas.png" alt="" class="mx-auto d-block">
                <p class="text-center">Direktorat Jendral Lembaga Pemasyarakatan (Ditjenpas) Kementerian Hukum dan HAM RI.</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/densus88.png" alt="" class="mx-auto d-block" width="55%">
                <p class="text-center">Densus 88 Antiteror</p>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/ppim.png" alt="" class="mx-auto d-block">
                <p class="text-center">Pusat Pengkajian Islam dan Masyarakat (PPIM)</p>
            </div>
            <div data-aos="fade-left" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/undp.png" alt="" class="mx-auto d-block" height="160px">
                <p class="text-center">United Nations Development Programme (UNDP)</p>
            </div>
          </div>
          <div class="row">
            <div data-aos="fade-left" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/unodc.jpg" alt="" class="mx-auto d-block" height="50px">
                <p class="text-center">United Nations Office on Drugs and Crime (UNODC)</p>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/unwomen.gif" alt="" class="mx-auto d-block" height="50px">
                <p class="text-center">United Nations Entity for Gender Equality and the Empowerment of Women (UN Women)</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/amiri.jpg" alt="" class="mx-auto d-block" height="100px">
                <p class="text-center">Yayasan AMIRI</p>
            </div>
            <div data-aos="fade-down" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/gnwp.png" alt="" class="mx-auto d-block" height="60px">
                <p class="text-center">Global Network of Women Peacebuilders (GNWP)</p>
            </div>
          </div>
          <div class="row">
            <div data-aos="fade-down" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/sfcg.png" alt="" class="mx-auto d-block" height="38px">
                <p class="text-center">Search for Common Ground (SFCG)</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/aman.png" alt="" class="mx-auto d-block">
                <p class="text-center">The Asian Muslim Action Network (AMAN) Indonesia</p>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/bimnas.png" alt="" class="mx-auto d-block">
                <p class="text-center">Pembinaan Masyarakat (BINMAS) POLRI</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                <img style="height: 105px;" src="/img/ourpartners/IMCenter.jpg" alt="" class="mx-auto d-block">
                <p class="text-center">IM Centre for Peace and Dialogue</p>
            </div>
          </div>
          <div class="row">
            <div data-aos="fade-down" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/australianembassy.png" alt="" class="mx-auto d-block" height="100px">
                <p class="text-center">Australian Embassy</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                <img src="/img/ourpartners/southafricaembassy.png" alt="" class="mx-auto d-block" height="110px">
                <p class="text-center">Republic of South African Embassy</p>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3">
                  <img src="/img/ourpartners/oxford.png" alt="" class="mx-auto d-block" height="100px">
                  <p class="text-center">Harvey Whitehouse</p>
            </div>
            <div data-aos="fade-left" class="col-lg-3 col-6 col-sm-3">
                  <img src="/img/ourpartners/csave.jpg" alt="" class="mx-auto d-block" width="62%">
                  <p class="text-center">C-Save</p>
            </div>
          </div>
          <div class="row">
            <div data-aos="fade-left" class="col-lg-3 col-6 col-sm-3">
                  <img style="margin-top: 158px;" src="/img/ourpartners/dayainsani.png" alt="" class="mx-auto d-block" width="90%">
                  <p class="text-center">Daya Insani</p>
            </div>
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3">
                  <img style="margin-top: 69px;" src="/img/ourpartners/wgwc.jpg" alt="" class="mx-auto d-block" width="90%">
                  <p class="text-center">WGWC</p>
            </div>
            <div data-aos="fade-down" class="col-lg-3 col-6 col-sm-3">
                  <img style="height: 221px;" src="/img/ourpartners/cisform.jpg" alt="" class="mx-auto d-block" width="90%">
                  <p class="text-center">CISForm</p>
            </div>
            <div data-aos="fade-right" class="col-lg-3 col-6 col-sm-3">
                  <img src="/img/ourpartners/unusia.png" alt="" class="mx-auto d-block" width="90%">
                  <p class="text-center">Unusia</p>
            </div>
          </div>
          <!--
          <div class="row">
            <div data-aos="fade-up" class="col-lg-3 col-6 col-sm-3" id="partners-others">
                  <h4 class="text-center">Others</h4>
                  <br>
                  <p class="text-center">Working Group on Women and PCVE (WGWC)</p>
                  <p class="text-center">CISForm (Center for the Study of Islam and Social Transformation)</p>
            </div>
          </div>
          -->
          <br>
        </section>
        
      </div>
    </section>
    
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
      $("#header-home").removeClass("active");
      $("#header-collaboration").addClass("active");
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({delay: 200, duration: 800});
    </script>
  </body>
</html>