<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Kolaborasi & Mitra</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Kolaborasi & Mitra</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="collabp">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              Kolaborasi Kami
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Jihadists, Terrorism, and Counter-Violent Extremism</b></h3>
              <p><img src="/img/collab/collab1.jpg" alt="" style="width: 380px;float: left;margin-right: 13px;">What is the reason behind the emergence of religious terror activities in Indonesia? Why religious people are able to kill innocent people? How can we tackle terror activities in Indonesia and how can we recognize vulnerable individuals as well as vulnerable society? Triggered with such questions, we have been working with social scholars under a few distinct collaborations. Together with Zora Sukabdi (Swinburne University) we investigated the reasons behind terror activities conducted by Islamic radicals and found that one of the reasons is because Indonesia is interpreted as being in a state of war. Together with Mirra Noor Milla (Universitas Indonesia) and Ahmad Naufalul Umam (Universitas Mercu Buana), we aim to explore how narrations, stories, and memories are planted in the jihadists' mind. And with team from Civil Society against Violent Extremism (<a href="http://csave.org/id/home/">C-Save</a>) and Ichsan Malik Center, we are working to develop a guideline for early warning signs of radicalism. The other project working with <a href="https://researchers.uq.edu.au/researcher/1532">Adrian Cherney</a> (University of Queensland), we are intending to compare between Indonesian and Australian cases of individuals who have radicalized to extremism. Moreover, as we also concern with the Jihadists’s families and issues on women and counter-violent extremism, we have started projects related with such issues. With team from Global Network of Women Peacebuilders (<a href="https://gnwp.org/">GNWP</a>) and Asian Muslim Action Network (<a href="https://www.amanindonesia.org/">AMAN</a>), we are working to empower young women from conflict-affected place (i.e Poso) or vulnerable place (Lamongan) to be leaders and agents of peace. The research team includes Mavic Cabrera –Balleza (<a href="https://gnwp.org/">GNWP</a>), Dwi Rubiyanti Kholifah (<a href="https://www.amanindonesia.org/">AMAN</a>), Fajar Erikha (DASPR), Vici S. Putera (DASPR), Any Rufaedah (DASPR), and Reisa S. Arimbi (DASPR).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://www.igi-global.com/chapter/tackling-islamic-terrorism-and-radicalism-in-indonesia-by-increasing-the-sense-of-humanity-and-friendship/191700">https://www.igi-global.com/chapter/tackling-islamic-terrorism-and-radicalism-in-indonesia-by-increasing-the-sense-of-humanity-and-friendship/191700</a></li>
                <li><a href="https://www.igi-global.com/chapter/isis-discourse-in-radical-islamic-online-news-media-in-indonesia/150569">https://www.igi-global.com/chapter/isis-discourse-in-radical-islamic-online-news-media-in-indonesia/150569</a></li>
                <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/ajsp.12001">https://onlinelibrary.wiley.com/doi/abs/10.1111/ajsp.12001</a></li>
                <li><a href="http://psyjournals.ru/files/93739/sps_2018_n2_Putra_et_al.pdf">http://psyjournals.ru/files/93739/sps_2018_n2_Putra_et_al.pdf</a></li>
                <li><a href="https://nsuworks.nova.edu/tqr/vol23/iss6/5/">https://nsuworks.nova.edu/tqr/vol23/iss6/5/ </a></li>
                <li><a href="https://www.academia.edu/37977421/Stories_from_Jihadists_Significance_identity_and_radicalization_through_the_call_for_jihad">https://www.academia.edu/37977421/Stories_from_Jihadists_Significance_identity_and_radicalization_through_the_call_for_jihad</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Religious Fundamentalism and Extreme Behaviors</b></h3>
              <p><img src="/img/collab/collab2.jpeg" alt="" style="width: 200px;float: right;margin-left: 13px;">Our team members have been working on many issues related to the connection between Religious Fundamentalism and Extreme Behaviors, as well how to tackle its vulnerability. Together with Zora Sukabdi (Swinburne University of Technology) we were working to find ways for (Islamic) religious fundamentalists to support peaceful paths. We are also collaborating with <a href="https://psikologi.ui.ac.id/whinda-yustisia-s-psi-m-sc/">Whinda Yustisia</a> (Universitas Indonesia),  <a href="http://www.harveywhitehouse.com">Harvey Whitehouse</a>  and <a href="https://www.anthro.ox.ac.uk/people/dr-chris-kavanagh">Chris Kavanagh</a> (Oxford University) to test the role of collective narcissism and tightness-looseness in influencing relationships between religious fundamentalism and extreme behavior. The research team includes Any Rufaedah (DASPR) and <a href="http://dasprui.com/en/timkami.html">Vici S. Putera</a>  (DASPR)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="http://psycnet.apa.org/record/2014-38828-001 ">http://psycnet.apa.org/record/2014-38828-001</a></li>
                <li><a href="https://www.sciencedirect.com/science/article/pii/S2452315117302266">https://www.sciencedirect.com/science/article/pii/S2452315117302266</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Religious Movements, Inter-Religious Relations, and Persecutions</b></h3>
              <p><img src="/img/collab/collab3.jpg" alt="" style="width: 380px;float: left;margin-right: 13px;">We have involved in several projects investigating religious movements and inter-religious relations in Indonesia. During the 2012 election in Jakarta, we investigated how religious narratives were used to mobilize voters to dehumanize and justify violence against different religious and ethnic groups. In collaboration with <a href="https://en.wikipedia.org/wiki/Wolfgang_Wagner_(social_psychologist) ">Wolfgang Wagner</a>  (Johannes Kepler University & University of Tartu), we also conducted interviews with Muslims involved in the 2016 ‘Muslims peace rally’ that resulted in a violent bloodshed. The rally was held in the middle of Jakarta gubernatorial election, against a non-Muslim incumbent who was accused of having insulted the Quran. The findings indicated that protesters were less likely to support violence when political leaders promoted peaceful narrative, whereas accusations of blasphemy increased protesters’ support for political violence – suggesting that political leadership plays an important role in shaping social norms and preserving harmonious intergroup relations. The research team includes Any Rufaedah (DASPR), Reisa S. Arimbi (DASPR), M. Faisal Magrie (DASPR & US-AID Indonesia). In another project, together with <a href="https://www.iwm-tuebingen.de/www/en/personen/ma.html?uid=pholtz ">Peter Holtz</a>   (Leibniz-Institut für Wissensmedien ) and <a href="http://psikologi.ub.ac.id/profile/sumber-daya-manusia/tenaga-pendidik/ali-mashuri/">Ali Mashuri</a>   (Universitas Brawijaya), we investigated how a religious group accused of being heretical ended up receiving threats and a number of violent reactions, in which the victims were considered to have caused the violence.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="http://psycnet.apa.org/record/2018-21394-001">http://psycnet.apa.org/record/2018-21394-001</a></li>
                <li><a href="https://nsuworks.nova.edu/cgi/viewcontent.cgi?article=2518&context=tqr/ ">https://nsuworks.nova.edu/cgi/viewcontent.cgi?article=2518&context=tqr/</a></li>
                <li><a href="https://journals.sagepub.com/doi/abs/10.1177/0971333614564741">https://journals.sagepub.com/doi/abs/10.1177/0971333614564741</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Meta-Prejudice and Prejudice</b></h3>
              <p><img src="/img/collab/collab4.jpg" alt="" style="width: 220px;float: right;margin-left: 13px;">Meta-Prejudice is introduced by Idhamsyah Eka Putra explaining how thinking or believing of others are (negatively) thinking to other (in/out) group members.  This mechanism of thinking has shown to play a key role in influencing perceptions and behavior which indicate 1) people tend to avoid other group members when they think outgroup members dislike them, or 2) when they think their fellow group members dislike outgroup members. The research team includes <a href="https://en.wikipedia.org/wiki/Wolfgang_Wagner_(social_psychologist)">Wolfgang Wagner</a> (Johannes Kepler University & University of Tartu).</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://www.cambridge.org/core/journals/spanish-journal-of-psychology/article/taking-seriously-ingroup-selfevaluation-metaprejudice-and-prejudice-in-analyzing-interreligious-relations/F87FCB00104B9E92174EBCC8FFB6F690">https://www.cambridge.org/core/journals/spanish-journal-of-psychology/article/taking-seriously-ingroup-selfevaluation-metaprejudice-and-prejudice-in-analyzing-interreligious-relations/F87FCB00104B9E92174EBCC8FFB6F690</a></li>
                <li><a href="http://psycnet.apa.org/doiLanding?doi=10.1037%2Fpac0000068">http://psycnet.apa.org/doiLanding?doi=10.1037%2Fpac0000068</a></li>
                <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/casp.2305">https://onlinelibrary.wiley.com/doi/abs/10.1002/casp.2305</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>(Re-)Humanization </b></h3>
              <p><img src="/img/collab/collab5.jpg" alt="" style="width: 380px;float: left;margin-right: 13px;">We began a project named (re-)humanization in which it was influenced from the idea of how to turn people to do “good”. Through our experiences asking people whether the nature of human is good or evil, most of people believe that the very nature of human is good. There are, however, philosophical debates in regard to the nature of human. Jean-Jacques Rousseau (1712 - 1778) believed that human is good by nature, although this goodness can be contaminated through outside forces. In contrast, Thomas Hobbes (1588-1679) stated that human nature is evil: man’s natural desire is to acquire more and more power. Nonetheless, despite perennial debates regarding the nature of human, it is expected that when people are reminded that the nature of human is good and kind, they will see others in more positive ways. Together with Peter Holtz (Leibniz-Institut für Wissensmedien), <a href="http://www.swp.jku.at/en/team/kronberger">Nicole Kronberger</a>  (Johannes Kepler University of Linz), Ardiningtias Pitaloka (Universitas Yarsi), and Nurul Arbiyah (Universitas Indonesia), we tested whether by reminding the participants that the nature of human is good and kind, it could alleviate the negative effects of stigmatization. In collaboration with <a href="https://www2.clarku.edu/faculty/facultybio.cfm?id=778">Johanna Vollhardt</a>  (Clark University), <a href="https://www.framingham.edu/academics/colleges/social-and-behavioral-sciences/psychology-and-philosophy/faculty-and-staff/index">Margareth Obaid</a>  (Framingham State University), and <a href="http://shinokoda.com/profile/ ">Shino Koda</a>  (Tottori University) we are testing the connections of believing the nature of human is good with prosocial values vs. justification of violence, human identity, unity in diversity, and prejudice in Indonesia, USA, and Japan. The research team includes  </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>See related publications:</h4>
              <ul>
                <li><a href="https://jspp.psychopen.eu/article/view/794">https://jspp.psychopen.eu/article/view/794</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>Tackling anti-vaccine movements</b></h3>
              <p><img src="/img/collab/collab6.jpg" alt="" style="width: 360px;float: right;margin-left: 13px;">There is a phenomenon in Indonesia, as well as in other Muslim countries, where Muslims refuse to involve in vaccination programs. It showed that the ones who refused perceive vaccinations as Jewish and American conspiracies to extinguish Muslims. In extreme case, BBC has reported that in Pakistan mother and daughter were killed because of giving vaccination. On this matter, we are developing a project aimed to find ways to tackle anti-vaccine movement. Two studies have been conducted. One of the findings explain that when participants primed with analytical exploration by showing evidence that Israel and US manage vaccine programs in their own country might lead people to disbelieve Jews conspiracy; having low level of Jews conspiracy beliefs have influenced participants to worry with the future of muslim generations. The research team includes Any Rufaedah (DASPR), Reisa S. Arimbi (DASPR), and Tri Sulastri (former DASPR).</p>
            </div>
          </div>
        </div>
        <div class="collab-item">
          <div class="row">
            <div class="col-12">
              <h3><b>National Identity, Religious Identity, and Unity in Diversity</b></h3>
              <p><img src="/img/collab/collab7.jpg" alt="" style="width: 154px;float: left;margin-right: 13px;">One of problems with multicultural society is its vulnerability of intergroup prejudice and conflict. Together with <a href="http://fathalimoghaddam.com/">Fathali Moghaddam</a>  (Georgetown University) and Eko A. Meinarno (Universitas Indonesia), we are testing the relationship between National Identity, Religious Identity, and Unity in Diversity, and how it can relate to intergroup helping. The research team includes Joevarian Hudiyana (Universitas Indonesia) and <a href="https://psychology.georgetown.edu/people/phd-students">Mia Hendricks</a>  (Georgetown University).</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              Our Partners
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        
        <section id="our-partners">
          <div class="row">
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body">
                  <img src="img/ourpartners/ditjenpas.png" alt="" class="mx-auto d-block">
                  <br>
                  <br>
                  <p class="text-center">Direktorat Jendral Lembaga Pemasyarakatan (Ditjenpas) Kementerian Hukum dan HAM RI.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body">
                  <img src="img/ourpartners/densus88.png" alt="" class="mx-auto d-block" width="95%" height="72%">
                  <br>
                  <br>
                  <p class="text-center">Densus 88 Antiteror</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/ppim.png" alt="" class="mx-auto d-block">
                  <br>
                  <br>
                  <p class="text-center">Pusat Pengkajian Islam dan Masyarakat (PPIM)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body">
                  <img src="img/ourpartners/undp.png" alt="" class="mx-auto d-block" height="215px">
                  <br>
                  <p class="text-center">United Nations Development Programme (UNDP)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/unodc.jpg" alt="" class="mx-auto d-block" height="50px">
                  <br>
                  <br>
                  <p class="text-center">United Nations Office on Drugs and Crime (UNODC)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/unwomen.gif" alt="" class="mx-auto d-block" height="50px">
                  <br>
                  <br>
                  <p class="text-center">United Nations Entity for Gender Equality and the Empowerment of Women (UN Women)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:40px;">
                  <img src="img/ourpartners/amiri.jpg" alt="" class="mx-auto d-block" height="150px">
                  <br>
                  <p class="text-center">Yayasan AMIRI</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/gnwp.png" alt="" class="mx-auto d-block" height="60px">
                  <br>
                  <br>
                  <p class="text-center">Global Network of Women Peacebuilders (GNWP)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:104px;">
                  <img src="img/ourpartners/sfcg.png" alt="" class="mx-auto d-block" height="38px">
                  <br>
                  <br>
                  <p class="text-center">Search for Common Ground (SFCG)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/aman.png" alt="" class="mx-auto d-block">
                  <br>
                  <br>
                  <p class="text-center">The Asian Muslim Action Network (AMAN) Indonesia</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/bimnas.png" alt="" class="mx-auto d-block">
                  <br>
                  <p class="text-center">Pembinaan Masyarakat (BINMAS) POLRI</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:60px;">
                  <img style="margin-bottom:-30px;" src="img/ourpartners/IMCenter.jpg" alt="" class="mx-auto d-block">
                  <br>
                  <p class="text-center">IM Centre for Peace and Dialogue</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:90px;">
                  <img src="img/ourpartners/australianembassy.png" alt="" class="mx-auto d-block">
                  <br>
                  <p class="text-center">Australian Embassy</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:97px;">
                  <img src="img/ourpartners/southafricaembassy.png" alt="" class="mx-auto d-block">
                  <br>
                  <p class="text-center">Republic of South African Embassy</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:30px;">
                  <img src="img/ourpartners/oxford.png" alt="" class="mx-auto d-block">
                  <br>
                  <p class="text-center">Harvey Whitehouse</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:115px;">
                  <img src="img/ourpartners/csave.jpg" alt="" class="mx-auto d-block" width="90%">
                  <br>
                  <p class="text-center">C-Save</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card op-cards">
                <div class="card-body" style="padding-top:96px;">
                  <h4 class="text-center">Others</h4>
                  <br>
                  <p class="text-center">Working Group on Women and PCVE (WGWC)</p>
                  <p class="text-center">CISForm (Center for the Study of Islam and Social Transformation)​</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      </div>
    </section>
    
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
      $("#header-home").removeClass("active");
      $("#header-collaboration").addClass("active");
    </script>
  </body>
</html>