<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('en-header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/headline.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">About Us</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/en">Home</a>
              </li>
              <li class="breadcrumb-item active">About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="aboutus">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              History
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" id="sejarah">
            <div class="timeline">
              <div class="container left">
                <div class="content">
                  <h2><b>2007 – 2009</b></h2>
                  <h3>Exploring Issues of Terrorism and Deradicalization</h3>
                  <p>Before it was established on 2 May 2017, members of the Research Team had joined in research exploring the motive of terror acts perpetrated by groups acting on behalf of Islam since 2007. This is due to the direction of the late Professor Sarlito W. Sarwono as the initiator of the psychology of terrorism in Indonesia who is also our teacher.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2009</b></h2>
                  <h3>Cooperation Experience with Pusat Studi Al-Quran (PSQ)</h3>
                  <p>In 2009 our research team cooperated with Pusat Studi Al-Quran (PSQ) which at that time was led by Professor Quraish Shihab. A deradicalization pilot program was performed on terrorism and ex-combatant convicts who fought in a number of areas inside and outside of Indonesia</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2011-2015</b></h2>
                  <h3>Experience with Ex-convicts of Terrorism and Combatant</h3>
                  <p>After working with terrorism convicts, our team was also involved in the intervention of terrorism ex-convicts and in facilitating their da'wah according to their ability and interest through peaceful means.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2015-2017</b></h2>
                  <h3>Reeducation of Terrorism Convicts and Their Wives</h3>
                  <p>In 2015, our research team was in contact with convicts and their family (wives and children). A number of workshops were organized in several prisons in Java and Sulawesi Island using psychological approach and entrepreneurship training. The wives were also invited to become agents campaigning for a peaceful Islam.</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2017</b></h2>
                  <h3>DASPR: Evaluation Program for Deradicalization and Reeducation Activity Inside and Outside of Prison.</h3>
                  <p>Since the first year of its establishment, DASPR had done reeducation of terrorism convicts and their families both inside and outside of prison. In addition, we also collaborate with Ditjen Lapas, PPIM UIN, and UNDP to assess a number of de-radicalization activity in prison.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2018</b></h2>
                  <h3>DASPR Joined IM Center </h3>
                  <p>On 8th November 2018, DASPR officially became a part of IM Center for Dialogue and Peace.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="about-visimisi">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-sm-12 about-visi">
            <h2><b>VISION</b></h2>
            <ul>
              <li>To be a group of scholars who cares with humanitarian issues and social problems</li>
              <li>To be a key role in providing data for mapping social issues such as social conflict and intergroup relations.</li>
              <li>To be a reference in the use of non-violent approach or humanistic approach.</li>
            </ul>
          </div>
          <div class="col-lg-5 col-sm-12 about-misi">
            <h2><b>MISSION</b></h2>
            <ul>
              <li>To educate and develop scientific research activities that are sensitive to social and humanitarian issues.</li>
              <li>To create research activities and scientific development that care with community development and empowerment</li>
              <li>To involve in the civil organization communities that active in discussing ways to understand as well as to reduce intergroup violence.</li>
            </ul>
          </div>
        </div>
        <div id="about-fungsitujuan">
          <div class="row about-tujuan">
            <div class="overlayft">
              <div class="col-md-8 about-fungsitujuan-pane">
                <h2><b>Purpose</b></h2>
                <ul>
                  <li>To understand the basic reasons how social problems occurred.</li>
                  <li>To find ways to solve problems with peaceful approaches.</li>
                  <li>Able to provide recommendations how to develop social policy that can prevent social conflict, radicalism and discriminations.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row about-fungsi justify-content-end">
            <div class="overlayft">
              <div class="col-md-9 about-fungsitujuan-pane fungsi-pane">
                <h2><b>Function</b></h2>
                <ul>
                  <li>Become a place for research activities that concern to social problems and humanitarian issues.</li>
                  <li>Become a key role that actively involves to solve conflict and violence in Indonesia or its surrounded regions</li>
                  <li>To facilitate scholars and stucents who want to have first-hand experience in conducting research related to conflict resolution, violent extremism, and humanitarian issues</li>
                  <li>To facilitate visiting fellows (students, researchers, postdoctoral, or social scholar) who want to conduct research related to societal and humanitarian issues in Indonesia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row about-penelitian">
            <div class="overlayft">
              <div class="col-md-8 about-fungsitujuan-pane">
                <h2 class="center"><b>Research</b></h2>
                <h4>DASPR conducted research focused on the following subjects:</h4>
                <ol>
                  <li>Radicalism and counter violent extremism</li>
                  <li>The roles of women in counter violent extremism</li>
                  <li>Rehumanization project</li>
                  <li>Social stigma</li>
                  <li>Politic, news media, and identity discourse</li>
                  <li>Prejudice and metaprejudice</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        
        
        <div id="about-program">
          <div class="row">
            <div class="col-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                Programs
                </h3>
                <p class="subtitle-a">
                  Division for Applied Social Psychology Research
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row program-carousel">
            <div class="col-12">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/program/program1.jpg" class="d-block w-100" alt="/img/intro-bg.jpg">
                                <div class="carousel-caption d-none d-md-block" style="height:370px">
                                    <h2>EMPOWERMENT PROGRAM INSIDE AND OUTSIDE OF PRISON</h2>
                                    <p>This program targets terrorism convicts and their families. It includes a number of areas namely re-education, psychological counseling, both for individuals as well as for groups, as well as the debriefing of entrepreneurial skills. The participants are voluntarily invited, while the activities were presented in an informal dialogue. In addition, we also try increasing the participants' empathy so they are better able to interact with people from a different background. Furthermore, the entrepreneurship training provided skills to support their finances, which is especially useful once they are free. The program outside of the prison, on the other hand, is focused on visiting the families of terrorism convicts. During the visitation, the wives are given psychological counseling.</p>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/program/program2.jpg" class="d-block w-100" alt="/img/intro-bg.jpg">
                                <div class="carousel-caption d-none d-md-block" style="height:245px;margin-bottom:40px">
                                    <h2>FOSTERING THE EFFECTIVENESS OF DERADICALIZATION PROGRAMS IN THE PRISON (ASSESSMENT PROGRAM IN PRISON)</h2>
                                    <p>A program aimed at accessing or weighing activities related to CVE (Counter Violent Extremism) that had been done by government and private agencies in prison.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/program/program3.jpg" class="d-block w-100" alt="/img/program/program3.jpg">
                                <div class="carousel-caption d-none d-md-block" style="height:245px;margin-bottom:40px">
                                    <h2>GIRL AMBASSADOR FOR PEACE (2017-2018, COLLABORATION WITH AMAN AND GNWP)</h2>
                                    <p>Girls Ambassador for Peace (GA4P) Program is a program that resulted from the collaboration between Global Network Women for Peace (GNWP), AMAN Indonesia and also DASPR. The program was implemented in two cities in Indonesia namely Lamongan and Poso. The aim of this program is to form ambassadors of peace in both cities whose members are young girls who want to contribute in spreading peace in their cities.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/program/program4.jpg" class="d-block w-100" alt="/img/program/program4.jpg">
                                <div class="carousel-caption d-none d-md-block" style="height:600px;margin-bottom:-110px">
                                    <h2>BASELINE STUDY TO VULNERABLE REFUGEE GROUPS IN DKI JAKARTA AND BANTEN (COLLABORATION WITH DAYA INSANI AND IOM)</h2>
                                    <p>
                                        This study aims to improve and maintain the mental health of refugees and asylum seekers with additional vulnerability during the process of safe, humane and orderly migration, in transit point setting i.e. Indonesia. This study provide a comprehensive understanding toward the refugee population profile. Data collected through survey, observation and in-depth interview. Baseline is also serves as a tool to exploring the perspective of each elements in the groups including stakeholders from the IOM staff and related volunteers. The data acquisition process which is a mix of quantitative and qualitative methods, in addition to group discussion method as a process of formulating the collective purpose of the program.
                                    </p>
                                    <p>
                                        Daya Insani is Psychology and Hypnotherapy Consultant. Daya Insani was founded in 2004 by individuals who believed every human have their own self potential excellence, which have may not been revealed and/or well fostered, or have not have the opportunity to make it happened, or may perhaps the consequence of miss leading perception and social environment care.
                                    </p>
                                    <p>
                                        IOM is the leading inter-governmental organization in the field of migration and works closely with governmental, intergovernmental and non-governmental partners. IOM works to help ensure the orderly and humane management of migration, to promote international cooperation on migration issues, to assist in the search for practical solutions to migration problems and to provide humanitarian assistance to migrants in need, including refugees and internally displaced people.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!--/ Section Contact-Footer Star /-->
    <%- include('en-footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
    $("#header-home").removeClass("active");
    $("#header-tentangkami").addClass("active");
    </script>
  </body>
</html>