<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('en-header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">About Us</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/en">Home</a>
              </li>
              <li class="breadcrumb-item active">About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    
    <section id="aboutus">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box text-center">
              <h3 class="title-a">
              History
              </h3>
              <p class="subtitle-a">
                Division for Applied Social Psychology Research
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" id="sejarah">
            <div class="timeline">
              <div class="container left">
                <div class="content">
                  <h2><b>2007 – 2009</b></h2>
                  <h3>Exploring Issues of Terrorism and Deradicalization</h3>
                  <p>Before it was established on 2 May 2017, members of the Research Team had joined in research exploring the motive of terror acts perpetrated by groups acting on behalf of Islam since 2007. This is due to the direction of the late Professor Sarlito W. Sarwono as the initiator of the psychology of terrorism in Indonesia who is also our teacher.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2009</b></h2>
                  <h3>Cooperation Experience with Pusat Studi Al-Quran (PSQ)</h3>
                  <p>In 2009 our research team cooperated with Pusat Studi Al-Quran (PSQ) which at that time was led by Professor Quraish Shihab. A deradicalization pilot program was performed on terrorism and ex-combatant convicts who fought in a number of areas inside and outside of Indonesia</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2011-2015</b></h2>
                  <h3>Experience with ex-convicts of terrorism and combatant</h3>
                  <p>After working with terrorism convicts, our team was also involved in the intervention of terrorism ex-convicts and in facilitating their da'wah according to their ability and interest through peaceful means.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2015-2017</b></h2>
                  <h3>Reeducation of Terrorism Convicts and Their Wives</h3>
                  <p>In 2015, our research team was in contact with convicts and their family (wives and children). A number of workshops were organized in several prisons in Java and Sulawesi Island using psychological approach and entrepreneurship training. The wives were also invited to become agents campaigning for a peaceful Islam.</p>
                </div>
              </div>
              <div class="container left">
                <div class="content">
                  <h2><b>2017</b></h2>
                  <h3>DASPR: Evaluation program for deradicalization and reeducation activity inside and outside of prison.</h3>
                  <p>Since the first year of its establishment, DASPR had done reeducation of terrorism convicts and their families both inside and outside of prison. In addition, we also collaborate with Ditjen Lapas, PPIM UIN, and UNDP to assess a number of de-radicalization activity in prison.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2><b>2018</b></h2>
                  <h3>DASPR joined IM Center </h3>
                  <p>On 8th November 2018, DASPR officially became a part of IM Center for Dialogue and Peace.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="about-visimisi">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-sm-12 about-visi">
            <h2><b>VISION</b></h2>
            <ul>
              <li>Becoming a Research Center that is integrated with Study Program to achieve the ideal of Tri Dharma model of higher education.</li>
              <li>Becoming a data source in mapping social issues such as conflict and violence, as well as in problem solving efforts.</li>
              <li>Becoming a reference in the use of non-violent approach or humanistic approach.</li>
            </ul>
          </div>
          <div class="col-lg-5 col-sm-12 about-misi">
            <h2><b>MISSION</b></h2>
            <ul>
              <li>Educating as well as cultivating research activities and sciences that are sensitive to social issues.</li>
              <li>Creating research activities and scientific development aimed at community service.</li>
              <li>Join a community that actively discussed and involved in efforts to understand as well as reduce intergroup violence.</li>
            </ul>
          </div>
        </div>
        <div id="about-fungsitujuan">
          <div class="row about-tujuan">
            <div class="col-md-8 about-fungsitujuan-pane">
              <h2><b>Purpose</b></h2>
              <ul>
                <li>Understanding the reason for the rise of current social issues.</li>
                <li>Finding peaceful ways of resolving issues.</li>
                <li>Able to provide recommendations in establishing policy and strategy that does not trigger conflict.</li>
              </ul>
            </div>
          </div>
          <div class="row about-fungsi justify-content-end">
            <div class="col-md-9 about-fungsitujuan-pane">
              <h2><b>Function</b></h2>
              <ul>
                <li>Becoming a center for research activities that are serious in trying to understand social issues.</li>
                <li>Becoming a center of activities that are actively involved in solving violence and conflicts in Indonesia, and its surrounding.</li>
                <li>Becoming a place for students who want to get involved directly in research related to violence, reconciliation, and conflict resolution.</li>
                <li>Facilitating workspace for visiting fellows (student, researcher, post-docs) and guest lecturers who want to be involved in research related to social and public issues.</li>
              </ul>
            </div>
          </div>
          <div class="row about-penelitian">
              <div class="col-md-8 about-fungsitujuan-pane">
                <h2 class="center"><b>Research</b></h2>
                <h4>DASPR UI conducted research focused on the following subjects:</h4>
                <ol>
                  <li>Radicalism and counter violent extremism</li>
                  <li>The roles of women in counter violent extremism</li>
                  <li>Rehumanization project</li>
                  <li>Social stigma</li>
                  <li>Politic, news media, and identity discourse</li>
                  <li>Prejudice and metaprejudice</li>
                </ol>
              </div>
            </div>
        </div>
        
        
        <div id="about-program">
          <div class="row">
            <div class="col-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                Program
                </h3>
                <p class="subtitle-a">
                  Division for Applied Social Psychology Research
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>EMPOWERMENT PROGRAM INSIDE AND OUTSIDE OF PRISON</b></h3>
            <p>This program targets terrorism convicts and their families. It includes a number of areas namely re-education, psychological counseling, both for individuals as well as for groups, as well as the debriefing of entrepreneurial skills. The participants are voluntarily invited, while the activities were presented in an informal dialogue. In addition, we also try increasing the participants' empathy so they are better able to interact with people from a different background. Furthermore, the entrepreneurship training provided skills to support their finances, which is especially useful once they are free. The program outside of the prison, on the other hand, is focused on visiting the families of terrorism convicts. During the visitation, the wives are given psychological counseling.</p>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>FOSTERING THE EFFECTIVENESS OF DERADICALIZATION PROGRAMS IN THE PRISON (ASSESSMENT PROGRAM IN PRISON)</b></h3>
            <p>A program aimed at accessing or weighing activities related to CVE (Counter Violent Extremism) that had been done by government and private agencies in prison.</p>
          </div>
        </div>
        <div class="row program-item">
          <div class="col-12">
            <h3><b>GIRL AMBASSADOR FOR PEACE (2017-2018, COLLABORATION WITH AMAN AND GNWP)</b></h3>
            <p>Girls Ambassador for Peace (GA4P) Program is a program that resulted from the collaboration between Global Network Women for Peace (GNWP), AMAN Indonesia and also DASPR Daya Makara UI. The program was implemented in two cities in Indonesia namely Lamongan and Poso. The aim of this program is to form ambassadors of peace in both cities whose members are young girls who want to contribute in spreading peace in their cities.</p>
          </div>
        </div>
      </div>
    </section>
    <!--/ Section Contact-Footer Star /-->
    <%- include('en-footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script>
    $("#header-home").removeClass("active");
    $("#header-tentangkami").addClass("active");
    </script>
  </body>
</html>