<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <!--<div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                  Send Message Us
                  </h5>
                </div>
                <div>
                  <form action="" method="post" role="form" class="contactForm">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>-->
              <div class="col-md-12">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                  Kontak Kami
                  </h5>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="more-info">
                      <p class="lead">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4716.624449931668!2d106.79139318340997!3d-6.238328096584666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1401b6c58f5%3A0xa0cf77eb6a790e0b!2sWisma+Pkbi%2C+Jl.+Hang+Jebat+III%2C+RT.5%2FRW.8%2C+Gunung%2C+Kebayoran+Baru%2C+South+Jakarta+City%2C+Jakarta+12120!5e0!3m2!1sen!2sid!4v1555573712748!5m2!1sen!2sid" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>

                      </p>
                      <ul class="list-ico">
                        <li><span class="ion-ios-location"></span>Ruang DASPR
                        Wisma PKBI Lt. 2
                        Jln. Hang Jebat III, F/3,
                      Kebayoran Baru, Jakarta Selatan, 12120</li>
                      <li><span class="ion-ios-telephone"></span> +62 21 22773203</li>
                      <li><span class="ion-email"></span> timdaspr.ui@gmail.com </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 powpanel">
                  <ul>
                    <li><b>Powered by: <img src="/img/logo/Logo-IM-Center.jpg" alt="" height="120px"></b></li>
                    <li><b>Member of: </b> <img src="/img/logo/Logo-KPIN.jpg" alt="" height="150px"></li>                    
                  </ul>
                </div>
              </div>
              <div class="socials center">
                <ul style="padding-left: 70.5px">
                  <!--<li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>-->
                  <li><a href="https://www.instagram.com/dasprui/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                  <!--<li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>-->
                  <li><a href="https://www.youtube.com/channel/UCpVUKmiYAFgNQsCWdOJ2pWg"><span class="ico-circle"><i class="ion-social-youtube"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <strong>DASPR</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</section>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/popper/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/counterup/jquery.waypoints.min.js"></script>
<script src="/lib/counterup/jquery.counterup.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>
<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>