<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card align-middle">
            <div class="card-body">
              <a href="/admin-publication">Cancel</a>
              <h3>Add Publication</h3>
              <form action="/pub-add-request" method="post">
              <div class="inputs-group">
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Title
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Title" name="pTitle">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Year
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Year" name="pYear">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Author
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Author" name="pAuthor">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Category
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Category" name="pCategory">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Publisher
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Publisher" name="pPublisher">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Link
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Link" name="pLink">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-sm-12">
                    Country
                  </div>
                  <div class="col-lg-10 col-sm-12">
                    : <input type="text" placeholder="Country" name="pCountry">
                  </div>
                </div>
              </div>
                <input class="btn btn-prime" type="submit" value="Submit">                
              </form>
              <br>
              <a class="btn btn-prime" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/ Section Contact-Footer Star /-->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/popper/popper.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/counterup/jquery.waypoints.min.js"></script>
    <script src="lib/counterup/jquery.counterup.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <!--/ Section Contact-footer End /-->
  </body>
</html>