/* Animation */
@keyframes intromovement {
  from {bottom:500px;}
  to {bottom:155px;}
}

/*Utility*/
.center {
	display:block;
	margin-left:auto !important;
	margin-right:auto !important;
}
/*Utility end*/

ul {
  list-style-type: none;
}

.carousel-item > div {
	height:100vh;
}

.navbar-brand img {
	width:70px;
}

.home-desc {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top:80px;
}

.testimonials .overlay-mf{
	background-color:#fff;
}

.testimonials *, .testimonial-box .author{
	color:#1e1e1e;
}

.testimonial-box .comit {
	background-color:#EDB458;
}

.testimonial-box img {
	width:150px !important;
	height:150px;
}

.testimonial-box .author-title {
	color:#1e1e1e;
}

.testimonial-box .author {
	margin-bottom:0px;
}

.testimonial-box .description {
	text-align:justify;
}

.sect-mt4 {
	margin-top:0px;
}

section.footer-paralax .socials {
	width:234px;
}

.about-visi * {
	float:right;
}

.about-visi li, .about-misi li, .about-fungsi li, .about-tujuan li {
	text-align:justify;
	margin-bottom:10px;
}

.about-visi ul ,.about-misi ul, #about-fungsitujuan ul {
	padding-left:0;
}

#about-visimisi {
  /*background-image: url(../img/aboutus2.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
	border:1px solid rgba(0,0,0,.125);
	background-color:rgba(0,0,0,.03);
	padding:20px 0 40px 0;
	margin-bottom:30px;
}

#about-visimisi::after {
    content: '';
    position: relative;
    width: 6px;
    background-color: white;
    top: -20px;
    bottom: 0;
    left: -41.6%;
    margin-left: -3px;
    margin-bottom: -59px;
}

.about-visi li, .about-misi li{
  font-weight: 650;
  color: #1e1e1e;
  z-index:1;
}

.about-visi li, .fungsi-pane li {
  text-align:right;
}

.about-fungsi *{
	float:right;
}

#about-program {
    padding-top: 70px;
}

.about-tujuan {
  background-image: url(../img/aboutus2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.about-fungsi {
  background-image: url(../img/aboutus3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.about-penelitian{
  background-image: url(../img/aboutus4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.about-fungsitujuan-pane {
  background-color:#fff;
  margin:10px 10px 10px 10px;
  border-radius: 4px;
  padding: 15px 15px 15px 15px
}

.program-item h3 {
	text-align: center;
}

.program-item p {
	text-align: justify;
}

.program-item {
	padding:30px;
	border:1px solid rgba(0,0,0,.125);
	background-color:rgba(0,0,0,.03);
	margin-bottom:30px;
}

.collab-item p{
	text-align:justify;
  padding-bottom:19px;
  border-bottom:0.1px solid #e1e1e1;
}

.collab-item a{
	color:#EDB458;
}

.collab-item ul {
	padding-left:0px;
}

.collab-item {
	margin-bottom:50px;
  border:0.5px solid #e1e1e1;
  padding:10px 20px 10px 20px;
  border-radius:5px;
  box-shadow: 5px 10px 11px;
}

.collab-item ul > li {
  list-style-type: circle;
  margin-left:20px;
}

#our-partners {
	margin-bottom:30px;
}

#our-partners .card {
	height:367px;
}

#our-partners .row {
	margin-bottom:20px;
}

.btn-prime {
	background-color:#EDB458;
}

.publication-item {
	background-color:rgba(0,0,0,03);
	margin-bottom:20px;
    /*background-image: url("/img/publication-item.jpg");*/
    background-repeat: repeat;
    font-weight: 500;
    font-family: 'Literata', serif;
}

.pub-panel {
    background-color:rgb(255, 215, 150);
    color:#000;
    padding:15px 30px 15px 30px;
}

.pub-panel a {
    color:#000;
    font-weight:600;
}

.inputs-group input{
	width:95%;
}

.inputs-group > .row{
	margin-bottom:10px;
}

.intro-single {
	margin-bottom:54px;
}

#editor {
	height:300px;
}

#add-events {
	margin-bottom:65px;
}

.news-items .ql-editor {
	max-height:165px;
	overflow:hidden !important;
	text-align:justify;
    text-decoration:none;
    font-weight: normal;
}

.news-items .ql-editor span {
    background-color:#fff !important;
}

.news-items .ql-editor strong {
    font-weight: normal;
}

.news-items .card-img img {
	height: 170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    object-fit: cover;
}

.news-items .card-body {
    height:295px;
}

.news-items .dthumb {
    max-height:253px;
    overflow:hidden;
}

.news-items .card-body .card-title{
    padding: 0 15px 0 15px;
    text-align: center;
    min-height:73px;
}

section#timkami .socials ul > li {
	margin:0 5px 0px 5px; 

}

section#timkami .socials ul {
	padding-left:18px;
}

#timkami .col-lg-4 .card {
  margin-left:auto;
  margin-right:auto;
}

.tk-textarea {
	margin-bottom:30px !important;
}

#keterangan-editor, #overview-editor, #riset-editor, #publikasi-editor, #supervisi-editor, 
#enketerangan-editor, #enoverview-editor, #enriset-editor, #enpublikasi-editor, #ensupervisi-editor {
	height:150px !important;
}

.admin-timkami .socials .ico-circle {
	padding:7px;
}

.tim-item .ql-snow .ql-editor {
	padding:0;
	white-space: normal;
}

.tim-item .ql-snow {
	height:fit-content;
}

.bd-example-modal-lg .tab-content .title-box-2 {
	margin-top:38px;
}

.modal-body .about-img {
	margin-bottom:30px;
}

.header-lang {
  position:fixed;
  top:2px;
  right:73px;
}

.header-lang a {
  text-transform: uppercase;
  font-weight: 600;
  color:#EDB458;
}

.header-lang a img{
  margin-right:3px;
}

.admin-home-body {
  background-image: url('/img/work-2.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.admin-login{
  background-image: url('/img/home.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wc-admin .card-body, #mng-pub  .card-body, #mng-home-slider  .card-body, #mng-news-events  .card-body, #mng-tim-kami  .card-body{
 background-color:#fff;
}

#adm-home video {
  width:100%;
  height:100%;
}

#adm-home h3 {
  margin-top:-19px;
  color: #000;
  font-weight: 700;
}

#adm-home .col-lg-3 {
  margin-bottom:30px;
}

#timkami .card img {
  height:190px;
  object-fit:cover;
}

.namerow {
  min-height: 108px;
}

.powpanel {
  border-left:6px solid rgba(0,0,0,.1);
}

#sejarah .content > p {
  text-align:justify;
}

.overlayft {
  background: rgba(237, 180, 88,0.7);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  width: 100%;
}

.card-blog {
  margin-bottom:1rem;
}

.edit-delete-btn {
  margin-bottom:40px;
}

.see-older-post{
  margin-bottom: 40px;
  margin-left: 0px;
}

.see-older-post h3 {
  color:#818387;
}

.program-carousel .carousel-caption{
    bottom: 155px;
    animation-name: intromovement;
    animation-duration:1s;
    background-color:rgb(202, 204, 206, 0.95);
    padding:20px;
    border-radius:10px;
}

.program-carousel .carousel-caption > h2, .program-carousel .carousel-caption > p {
    color:#000;    
}

.program-carousel {
    margin-bottom:30px;
}

.program-carousel p{
    text-align: justify;
}

.program-carousel .carousel-item {
    height:650px;
}

.program-carousel .carousel-item img{
    object-fit: cover;
    height:100%
}

@media only screen and (max-width: 768px) {
  .login-logo {
    margin-top:30px;
  }
  .login-key {
    margin-top:10px;
  }
    
  .program-carousel .carousel-item {
    height:1900px;
  }
    
  .program-carousel h2 {
    font-size:18px;
    font-weight:600;
  }
    
  .program-carousel .carousel-caption {
    top:10px;
  }
  
  .program-carousel .carousel-item:nth-child(1) .carousel-caption {
    height:1080px !important;
  }
    
  .program-carousel .carousel-item:nth-child(2) .carousel-caption {
    height:428px !important;
  }
    
  .program-carousel .carousel-item:nth-child(3) .carousel-caption {
    height:580px !important;
  }
    
  .program-carousel .carousel-item:nth-child(4) .carousel-caption {
    height:1830px !important;
  }
    
  .program-carousel .carousel-item:nth-child(5) .carousel-caption {
    height:855px !important;
  }
    
  .program-carousel .carousel-item:nth-child(6) .carousel-caption {
    height:620px !important;
  }
    
  .program-carousel .carousel-item:nth-child(1) .en-caption {
    height:920px !important;
  }
    
  .program-carousel .carousel-item:nth-child(2) .en-caption {
    height:345px !important;
  }
    
  .program-carousel .carousel-item:nth-child(3) .en-caption {
    height:580px !important;
  }
    
  .program-carousel .carousel-item:nth-child(4) .en-caption {
    height:1876px !important;
  }
    
  .program-carousel .carousel-item:nth-child(5) .en-caption {
    height:855px !important;
  }
    
  .program-carousel .carousel-item:nth-child(6) .en-caption {
    height:620px !important;
  }

}

@media only screen and (min-width: 768px) {
  .login-logo {
    margin-top:80px;
  }
  .login-key {
    margin-top:33px;
  }
}

/* library */
#sejarah {
	margin-bottom:30px;
	background-image:url(../img/sejarah.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-color: #43281C;
  	border-radius:2px;
}

#sejarah * {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
#sejarah .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#sejarah .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
#sejarah .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
#sejarah .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
#sejarah .left {
  left: -25.37%;
}

/* Place the container to the right */
#sejarah .right {
  left: 25.37%;
}

/* Add arrows to the left container (pointing right) */
#sejarah .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
#sejarah .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
#sejarah .right::after {
  left: -16px;
}

/* The actual content */
#sejarah .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 576px wide */
@media screen and (max-width: 576px) {
  /*Our partners logo*/
    
  #our-partners .col-sm-3 p{
    display:none;    
  }

  #our-partners #partners-others p{
    display:block !important;
  }
    
  #our-partners .row:nth-child(1) .col-sm-3:nth-child(1) img {
    width:100px;
  }
    
  #our-partners .row:nth-child(1) .col-sm-3:nth-child(3) img {
    margin-top: 71px;
  }
    
  #our-partners .row:nth-child(1) .col-sm-3:nth-child(4) img {
    margin-top: 30px;
  }
    
  #our-partners .row:nth-child(2) .col-sm-3:nth-child(1) img {
    width: 137px;
    height: 30px;
    margin-bottom: 18px;
  }
    
  #our-partners .row:nth-child(2) .col-sm-3:nth-child(2) img {
    width: 100px;
    height: 28px;
    margin-bottom: 18px;
  }
    
  #our-partners .row:nth-child(2) .col-sm-3:nth-child(4) img {
    width: 100px;
    height: 28px;
    margin-top: 32px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(1) img {
    width: 100px;
    height:17px;
    margin-top: 14px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(2) img {
    margin-bottom:30px;
  }

  #our-partners .row:nth-child(3) .col-sm-3:nth-child(3) img {
    margin-top: 10px;
  }
    
  #our-partners .row:nth-child(4) .col-sm-3:nth-child(1) img {
    margin-top: 4px;
    margin-bottom:30px;
  }
    
  #our-partners .row:nth-child(4) .col-sm-3:nth-child(2) img {
    margin-bottom:30px;
  }
    
  #our-partners .row:nth-child(4) .col-sm-3:nth-child(3) img {
    margin-bottom:30px;
  }

  #our-partners .row:nth-child(4) .col-sm-3:nth-child(4) img {
    margin-top:30px;
    margin-bottom:30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /*Our partners logo*/

  #our-partners .col-sm-3 p{
    display:none;    
  }

  #our-partners #partners-others p{
    display:block !important;
  }
    
  #our-partners .row:nth-child(1) .col-sm-3:nth-child(1) img {
    width:108px;
    margin-top:62px;
  }

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(2) img {
    margin-top:73px;
  }

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(3) img {
    width: 112px;
    margin-top: 82px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(1) img {
    margin-top: 35px;
    width: 115px;
    height: 30px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(2) img {
    margin-top: 35px;
    width: 110px;
    height: 28px;
  }
    
  #our-partners .row:nth-child(2) .col-sm-3:nth-child(4) img {
    margin-top: 29px;
    width: 100%;
    height: 43px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(1) img {
    margin-top: 29px;
    width: 100%;
    height: 26px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(2) img {
    margin-top: 18px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(3) img {
    margin-top: 10px;
  }
    
  #our-partners .row:nth-child(4) .col-sm-3:nth-child(4) img {
    margin-top: 34px;
  }

  /*Our partners end*/
}

/* Media queries - Responsive timeline between 640px and 768px wide */
@media (min-width: 640px) and (max-width: 768px) {
/* Place the timelime to the left */
  #sejarah .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  #sejarah .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  #sejarah .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  #sejarah .left::after, #sejarah .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
	#sejarah .left {
    	left: 1%;
	}
  #sejarah .right {
    left: 0%;
  }

  #sejarah .timeline .content h2 > b {
    font-size:25px;
  }
  #sejarah .timeline .content h3 {
    font-size:20px;
    font-weight: 600;
  }

  .publication-item .pub-panel .col-12 h3 a{
    font-size:18px;
  }

  section#collabp .container .collab-item img{
    width:148px !important;
  }

  

}

/* Media queries - Responsive timeline more than 768px wide */
@media (min-width: 768px){
  /*Our partners logo*/

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(1) img {
    margin-bottom:10px;
  }

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(2) img {
    margin-bottom:36px;
  }

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(3) img {
    margin-top:62px;
    margin-bottom:52px;
  }

  #our-partners .row:nth-child(1) .col-sm-3:nth-child(4) img {
    margin-bottom:20px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(1) img {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(2) img {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(3) img {
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(2) .col-sm-3:nth-child(4) img {
    margin-top: 40px;
    margin-bottom: 10px;
  }
    
  #our-partners .row:nth-child(3) .col-sm-3:nth-child(1) img {
    margin-top: 67px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(3) .col-sm-3:nth-child(2) img {
    margin-top: 53px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(3) .col-sm-3:nth-child(3) img {
    margin-top: 26px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(3) .col-sm-3:nth-child(4) img {
    margin-bottom: 10px;
  }
    
  #our-partners .row:nth-child(4) .col-sm-3:nth-child(1) img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(4) .col-sm-3:nth-child(2) img {
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(4) .col-sm-3:nth-child(3) img {
    margin-top: 11px;
    margin-bottom: 10px;
  }

  #our-partners .row:nth-child(4) .col-sm-3:nth-child(4) img {
    margin-top:52px;
    margin-bottom: 10px;
  }
    
  #our-partners .row:nth-child(5) .col-sm-3:nth-child(1) img {
    margin-bottom: 10px;
  }
}